<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068683024031-lmf53foklhv0od81v2qan9psgh2k29ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068683024031-lmf53foklhv0od81v2qan9psgh2k29ot</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1068683024031-am5v4mttfvg075v6kpqjtf798alte0q3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAP8DKf5Uh9V3b6fVWmA8VRXKTsjXAMwhA</string>
	<key>GCM_SENDER_ID</key>
	<string>1068683024031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled2</string>
	<key>PROJECT_ID</key>
	<string>hayat-53db2</string>
	<key>STORAGE_BUCKET</key>
	<string>hayat-53db2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068683024031:ios:18e57f7147fa389387b4aa</string>
</dict>
</plist>